<!DOCTYPE html>
{% extends "mainapp/base.html" %}
    {% block body_block%}
    <div class="jumbotron">
      <h2>Hello Sir {{user.username}}!</h2>
      <p style="text-align:center;"><h3>It's {% now "jS F Y H:i" %}</h3></p>
      <hr>
      <h3>Last update was made on {{ last_update_date }}</h3>
      <hr>
      <form class=""  action="progress/?ignore_this_taxa={{ignore_this_taxa}}?do_only_this_taxa={{do_only_this_taxa}}" enctype="multipart/form-data">
        <label class="custom-file-label" for="files_list">Start new update</label>
        <div class="input-group mb-3">
          <span class="input-group-addon" id="basic-addon1">Ignore</span>
          <input class="form-control" type="text" value="Bacteria" id="fna" name="ignore_this_taxa" placeholder="You can choose to ignore taxonomy" aria-describedby="basic-addon1">
        </div>
        <p></p>
        <div class="input-group input-group">
          <span class="input-group-addon" id="basic-addon2">Targeted update</span>
          <input class="form-control sm-6" type="text" value="" id="fna" name="do_only_this_taxa" placeholder="You can choose to add only specific taxonomy" aria-describedby="basic-addon2">
        </div>
        <p></p>
        <button type="button" class="btn btn-danger form-control" data-toggle="modal" data-target="#doublecheck">Start update</button>
        <!-- Double check window -->
        <div class="modal fade" id="doublecheck" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title custom_align" id="Heading">Procceed with update?</h4>
              </div><!-- modal-header -->
              <div class="modal-body">
                Updating the database might take a while. Do you want to proceed?
                  <hr>

              </div>

              <div class="modal-footer ">
                <button type="submit" class="btn btn-warning">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>

            </div>  <!-- /.modal-content -->
          </div>  <!-- /.modal-dialog -->
        </div>
      </form>

    </div>   

    {% endblock %}
