<!DOCTYPE html>
{% load static %}
<!-- CSS only -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DDB : DataBase Browser</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" media="all" type="text/css" href="/static/css/mini_bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" href="/javascript/jquery.js"></script>
    <script type="text/javascript" href="/javascript/mini_bootstrap.js"></script>
    <!-- Need to have JQuery and Javascript for DropDown Actions to work -->
    <script
    src="http://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>  <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <!-- Navigation bar-->
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container-fluid">

        <a href="{% url 'home_page'%}" class="navbar-brand"><strong>DBB</strong></a>
        <!--Small-->
        <button type="button"
                class="collapsed navbar-toggle"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"
                aria-controls="bs-example-navbar-collapse-1"
                aria-label="Toggle navigation"
                >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Not Small-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'search_page'%}">Search</a></li>

            <li>
              <a class="dropdown-menu-dark dropdown-toggle dropdown-toggle-split" role="button" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span>
              </a> <!-- dropdown-->
              <div class="dropdown-menu text-light bg-dark" > <!-- dropdown-menu-dark -->
                <a class="dropdown-item form-control text-light bg-dark" href="{% url 'tree_search_page'%}">Tree Search</a>
              </div>
            </li>

            <li><a href="{% url 'my_space'%}">My Space</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'updateapp:home_page' %}">Update</a></li>
            {% endif %}
            <li><a href="#">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="">{{user.username}}</a></li>
            <li>
              <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'logout'%}">Logout</a></button>
            </li>
            {% else %}
            <li><a href="{% url 'sign_up'%}">Sign up</a></li>
            <li>
              <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'login'%}">Login</a></button>
            </li>
            {% endif %}
          </ul>
        </div>  <!-- /.collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">

    {% block body_block %}
    {# Anything outside of this will be inherited.#}
    {% endblock %}
    </div>

  </body>
</html>
